.modal__inner .page-content.page-content--product .product-block {
    margin: 0;
}

.modal.modal--square.modal--quick-shop .product-block.cstm.revies--pro{
    display: none;
}
.modal.modal--square.modal--quick-shop .product-single__title {
   
    margin-bottom: 0px;
}
.modal.modal--square.modal--quick-shop  div#category {
    margin-top: 20px;
    margin-bottom: 10px;
}
.modal.modal--square.modal--quick-shop  .product-block.product-block--sales-point ul.sales-points {
    margin: 0;
    margin-bottom: 2px;
}
.modal.modal--square.modal--quick-shop .product-block.product-block--sales-point+.product-block:not(.product-block--sales-point) {
    margin-top: 20px;
}
.btn-alt {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: transparent;
    border-color: #000;
    color: #000;
}

.tag:has(input:focus), .btn:focus-visible, .rebuy-button:focus-visible, .rebuy-cart__flyout-empty-cart a:focus-visible {
    outline: rgb(16, 16, 16) auto 1.25px !important;
}

.btn:focus-visible {
    outline-offset: -4px;
}

.rebuy-cart__flyout-empty-cart h2 {
    font-family: inherit;
    font-weight: 700;
}

.product-block .default-text {
    font-size: 16px;
    margin: 0;
    text-transform: none;
    font-family: inherit;
    font-weight: 700;
}

.megamenu a:has(img) .h5 {
    margin-bottom: -10px;
}

#yotpo-modal input, #yotpo-modal textarea {
    outline: 2px solid #2360C5 !important;
    border-radius: 4px;
    
}